
body{
  background-color: crimson;
  color: black;
}
.search-container{
background-color: gray;
color: white;
padding: 60px;
}

input{
  width: 40%;
  padding: 10px;
  border-radius: 8px;
  border-color: black;
  font-size:18px ;
  background-color: black;
  color: white;
}
#movie-inp{
  width: 40%;
  padding: 10px;
  border-radius: 8px;
  border-color: black;
  font-size:18px ;
  background-color: black;
  color: white;
}
button{
  border-radius: 8px;
  padding: 10px;
  font-size:18px ;
  background-color: black;
  color: white;
 }


#heading{
  text-align: center;
  font-size: 24px;
}
img{
  width:40%;
  height: 15%;
}
.left,
.right {


padding: 0.5rem;
flex-grow: 1;

}