
body{
  background: linear-gradient(to left,purple ,crimson);
  width: 100%;
  min-height: 100vh;
  color: black;
  
}
.search-container{
  background: linear-gradient(to right,hotpink ,black);
color: white;
padding: 60px;
border-radius: 8px;
}

input{
  width: 40%;
  padding: 10px;
  border-radius: 8px;
  border-color: black;
  font-size:18px ;
  background-color: black;
  color: white;
}
#movie-inp{
  width: 40%;
  padding: 10px;
  border-radius: 8px;
  border-color: black;
  font-size:18px ;
  background-color: black;
  color: white;
}
button{
  border-radius: 8px;
  padding: 10px;
  font-size:18px ;
  background-color: black;
  color: white;
  cursor: pointer;
 }


#heading{
  text-align: center;
  font-size: 24px;
  color: black;
}

.leftrecipeimage{
  
  height: 400px;
  padding-left: 50px;
  display: inline-block;
  margin-bottom: 10px;
display: flex;
}

.right ul{
  float:right;
  margin-top: 40px;
  text-align: left;
  padding-right: 80px;
  font-size: 20px;
}
.instructions{
  padding-bottom: 50px;
  text-align: justify;

}

#movieSection img{
  padding-top: 10px;
  gap: 25px;

}

